<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/uni.css') }}">-->
    <link rel="stylesheet" href="../static/css/uni.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/hack.css') }}">-->
    <link rel="stylesheet" href="../static/fonts/hack.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/add_device.css') }}">-->
    <link rel="stylesheet" href="../static/css/add_device.css">
    <meta charset="UTF-8">
    <title>Add Device</title>
</head>
<body>
<div class="top_bar">
    <a>Add Device</a>
</div>
</body>
</html>