<!doctype html>
<head>
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/uni.css') }}">-->
    <link rel="stylesheet" href="../static/css/uni.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/hack.css') }}">-->
    <link rel="stylesheet" href="../static/fonts/hack.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/device.css') }}">-->
    <link rel="stylesheet" href="../static/css/device.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit this device</title>
</head>

<body>
<div class="top_bar">
    <a>Device</a>
</div>

<div class="dev_container" id="dev_container">
    <div class="edit_space">
        <a class="back_button" href="/dashboard"></a>
        <button class="btn" id="edit_button">Edit</button>
        <button class="btn" id="save_button" style="display: none">Save</button>

        <button id="del_button" style="right: 0;">Delete</button>

        <form method="post" action="/edit_device" class="form" id="form">

            <label for="hwid">hwid: </label>
            <input id="hwid" type="text" disabled="disabled" name="hwid" value=""><br>

            <label for="ip_addr">IP Address: </label>
            <input id="ip_addr" type="text" disabled="disabled" name="ip_addr" value=""><br>

            <label for="port">Port: </label>
            <input id="port" type="text" disabled="disabled" name="port" value=""><br>

            <label for="performance">Performance: </label>
            <input id="performance" type="text" disabled="disabled" name="Performance" value=""><br>

        </form>
    </div>
</div>

</body>
<script>
    // Get device json object from template renderer
    var device = {{device | safe}};
</script>
<!--    <script src={{ url_for('static',filename='js/jquery-3.4.1.min.js') }}></script>-->
<script src="../static/js/jquery-3.4.1.min.js"></script>
<!--    <script src={{ url_for('static',filename='js/index.js') }}></script>-->
<script src="../static/js/device.js"></script>
