<!doctype html>
<head>
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/uni.css') }}">-->
    <link rel="stylesheet" href="../static/css/uni.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/hack.css') }}">-->
    <link rel="stylesheet" href="../static/fonts/hack.css">
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">-->
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login to BCR Web Dash</title>
</head>

<body>
    <div class="top_bar">
        <a>Login</a>
    </div>
    <div class="login_box">
        <div class="wrong_creds" id="credbox">
            <a id="close" class="close_button">x</a>
            <span style="margin-top: 10px; display: inline-block;">Wrong Credentials</span>
        </div>
        <form action="/login" method="post" class="login_form">
            <label>
                <input type="text" name="login" class="login_input" placeholder="Login">
            </label><br>
            <label>
                <input type="password" name="password" class="login_input" placeholder="Password">
            </label><br>
            <label class="auto_login"><input type="checkbox" name="auto_login" class="login_checkbox">auto login?</label>
            <input type="submit" value="Login" class="login_button">
        </form>
    </div>
</body>
<!--    <script src={{ url_for('static',filename='js/jquery-3.4.1.min.js') }}></script>-->
<script src="../static/js/jquery-3.4.1.min.js"></script>
<!--    <script src={{ url_for('static',filename='js/index.js') }}></script>-->
<script src="../static/js/index.js"></script>

